<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>twit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TwitterRequestServlet</display-name>
    <servlet-name>TwitterRequestServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterRequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterCallBackServlet</display-name>
    <servlet-name>TwitterCallBackServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterHelloServlet</display-name>
    <servlet-name>TwitterHelloServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterHelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterHelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHomeTimeLine</display-name>
    <servlet-name>GetHomeTimeLine</servlet-name>
    <servlet-class>org.thinker.oauth.controller.GetHomeTimeLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomeTimeLine</servlet-name>
    <url-pattern>/getHomeTimeLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>org.thinker.oauth.controller.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHomeTimeLine2</display-name>
    <servlet-name>GetHomeTimeLine2</servlet-name>
    <servlet-class>org.thinker.oauth.controller.GetHomeTimeLine2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomeTimeLine2</servlet-name>
    <url-pattern>/getHomeTimeLine2</url-pattern>
  </servlet-mapping>
</web-app>